<html>
    <head><title> Product Creation Page</title></head>
    <body>
        <div>
            <form>
            
                <label for = "productId">Product Id</label>
                <input type="text" id="pid" name="productId" placeholder="ProductId">
                
                <label for="pname">Product Name</label>
                <input type="text" id="pname" name="product Name" placeholder="Product Name">
                
                <label for="lname">Image Url</label>
                <input type="text" id="purl" name="imageUrl" placeholder="Image URL">

                <label for = "price"> Price </label>
                <input type = "number" name = "Productprice" placeholder = "ProductPrice"> 
            
                <label for = "description"> Description </label>
                <textarea placeholder = "Description"></textarea>
                <input type="submit" value="Add Product">
            </form>
        </div>

    </body>
</html>


