<form [formGroup] = "productForm" (ngSubmit) = "onSubmitProduct()">  
    <div class="container">
        <div class="text">
            <h1>Add Product</h1>
        </div>
    <div formGroupName = "productData">
        <div class="your-input">
            <div class="input">
                <input type="text" formControlName="name" 
                    id="name" required />
                <label for="productName">Name</label>
            </div>
            <div class="input">
                <input type="text" formControlName="description" 
                    id="decription" required />
                <label for="decription">
                    Description
                </label>
            </div>
            <div class = "input">
                <input type = "text" formControlName = "price" 
                id = "price" required>
                <label for = "price">Price</label>
            </div>
            <div class = "input">
                <input type = "text" formControlName = "imageUrl"
                id = "imageUrl" required>
                <label for = "imageUrl"> Image Url </label>
            </div>

            <div class = "input"> 
                <input type = "text" formControlName = "category" id = "category"
                required>
                <label for = "category"> Category </label>
            </div>
        </div>
        <button type = "submit">Add Product</button>
    </div>
</div>
</form>