<!-- <button (click)= "dashboard()" class="btn btn-default" style="margin-top: 10px;">Dashboard</button> -->

<h3 class = "header_alignment">List Users</h3>
<!-- <button (click)= "onAdduser()" class="btn btn-primary">Add MRs</button> <br><br> -->

<table class="table table-striped table-bordered">

<thead>
<tr>
    <th>Id</th>
    <th>Username</th>
    <th>FirstName</th>
    <th>LastName</th>
    <th>Email</th>
    <th>phone</th>
</tr>
</thead>

<tbody>
    <tr *ngFor="let user of userList;let index = index">
        <td>{{user._id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.fname}}</td>
        <td>{{user.lname}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phone}}</td>
        <td ><button (click)="ondelete(user._id)" class="btn btn-danger">   <i class="glyphicon glyphicon-trash"></i></button>
        <button (click) = "onEditUserDetails(user._id)" class = "btn btn-warning" style="margin-left: 10px;"><i class="glyphicon glyphicon-pencil"></i></button>
    </td>
    </tr>
</tbody>


</table>