
<div class="col-md-4" *ngFor="let product of products;let index = index" >
 
<div class="boxed">    

<div class="col-md-2"></div> 
<div class="row">
    <div class="col-md-3">
      
        <img style="border:1px solid green" src={{product.imageUrl}} width="250px;" height="300px;"/>
    </div>
</div>
    

<div class="col-md-2"></div>
<div class="row">
    <div class="col-md-9">
      
     <b>  {{product.name}}  </b> 
    </div>
</div>


<div class="col-md-2"></div>
<div class="row">
    <div class="col-md-8">
     <td><font color="red">₹{{product.price}}</font></td>    
    </div>
</div>


<div class="col-md-2"></div>
<div class="row">
    <div class="col-md-3">
      
        <td>
            <button type="button"   class="btn btn-danger" (click)="OnSelectProduct(product._id)"><b>Show Details</b></button><br><br>
        </td>
    </div>
</div>

</div>
</div> 