<html>
    <main >
        <div class="grid" >
            <article class="card product-item" *ngFor = "let product of products">
                    <header class="card__header">
                        <h1 class="product__title">
                            {{ product.name }}
                        </h1>
                    </header>
                    <div class="card__image">
                        <img [src]="product.imageUrl" alt="{{ product.name}}">
                    </div>
                    <div class="card__content">
                        <h2 class="product__price">$
                           {{ product.price }}
                        </h2>
                        <h2 class="product__description">
                            {{ product.description }}
                        </h2>
                    </div>
                    <div class="card__actions">
                        <a href="/products/{{ product.id }}" class="btn">Details</a>
                        <!-- <%- include('../includes/add-to-cart.ejs', {product: product}) %>
                         -->
                    <form action="/cart" method="post">
                        <button class="btn" type="submit">Add to Cart</button>
                        <input type="hidden" name="productId" value="<%= product.id %>">
                    </form>
                    </div>
                </article>
        </div>
    </main>
    
    
</html>
